<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Resume of {{name}}</title>
	<link rel="stylesheet" href="{{meta.root}}/style.css">
</head>
<body>
	<header class="main">
		<h1>{{name}}</h1>
		<h2>{{title}}</h2>
	</header>

	<header class="sub">
		<div class="item">{{email}}</div>
		<div class="item">{{phone}}</div>
		<div class="item">{{residence}}</div>
	</header>

	<aside>
		{% if website or social_portals or skype %}
			<article class="entry">
				{% if website %}
					<h3>Web</h3>
					<p>
						<a href="{{website}}">{{website}}</a>
					</p>
				{% endif %}
				{% if social_portals %}
					{% for portal in social_portals %}
						<p>{{portal.title}}: <a href="{{portal.baseurl}}/{{portal.url}}">{{portal.url}}</a></p>
					{% endfor %}
				{% endif %}
				{% if skype %}
					<p>Skype: {{skype}}</p>
				{% endif %}
			</article>
		{% endif %}

		{% if technologies %}
			<article class="entry">
				<h3>Technologies</h3>
				{% for key, technology in technologies %}
					<h4>{{key|capitalize}}</h4>
					<p>{{technology}}</p>
				{% endfor %}
			</article>
		{% endif %}

		{% if spoken_languages %}
			<article class="entry">
				<h3>Languages</h3>
				{% for lang in spoken_languages %}
					<p>{{lang.language}} – {{lang.level}}</p>
				{% endfor %}
			</article>
		{% endif %}

		{% if volunteering %}
			<article class="entry">
				<h3>Volunteering</h3>
				{% for vol in volunteering %}
					<p>{{ vol }}</p>
				{% endfor %}
			</article>
		{% endif %}

		<article>
			<h3>Fun fact</h3>
			<p>
				This resume was generated with my fork of <a href="https://github.com/aaronsama/node-resume">node-resume</a> and is also available in JSON format.</p>
		</article>
	</aside>

	<div class="main">
		{% if short_bio %}
		<article class="entry">
			<h3>Bio</h3>
			<p>{{short_bio}}</p>
		</article>
		{% endif %}

		{% if job_history %}
			<article class="entry">
				<h3>Work experience</h3>
				<ul>
					{% for job in job_history %}
						<li>
							<strong>{{job.employer}}</strong><br>
							<em>{{job.role}}, {{job.date}}</em><br>
							{{job.description}}
						</li>
					{% endfor %}
				</ul>
			</article>
			<br><div style="page-break-after:always;"></div>
		{% endif %}

		{% if projects %}
			<article class="entry">
				<h3>Projects</h3>
				<ul>
					{% for project in projects %}
						<li>
							<strong>{{project.title}}</strong>
							<br>
							{{project.description}}
							{% if project.url %}
								<br>
								<small><a href="{{project.url}}">{{project.url}}</a></small>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endif %}

		{% if education %}
			<article class="entry">
				<h3>Education</h3>
				<ul>
					{% for edu in education %}
						<li>
							{{edu.date}}<br>
							{{edu.description}}
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endif %}

		{% if teaching %}
			<article class="entry">
				<h3>Teaching</h3>
				<ul>
					{% for teach in teaching %}
						<li>
							{{teach.date}}<br>
							<em>{{teach.institution}}</em><br>
							{{teach.course}}
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endif %}
	</div>

	{% if publications and publications.length > 0 %}
	<article class="attachment">
		<h3>Publications</h3>
		<ul>
			{% for publication in publications %}
			<li>
				{{publication.Fields.Author}} ({{publication.Fields.Year}}). <strong>{{ publication.Fields.Title }}.</strong>
				{% if publication.EntryType == 'inproceedings' %}
				In {{ publication.Fields.Booktitle }}.
				{% if publication.Fields.Editor %}
				{{ publication.Fields.Editor }} (Eds.)
				{% endif %}
				{% if publication.Fields.Publisher %}
				{{ publication.Fields.Publisher }}.
				{% endif %}
				{% elseif publication.EntryType == 'article' %}
				<em>{{ publication.Fields.Journal }},</em>
				{{ publication.Fields.Volume }}
				{% if publication.Fields.Number %}
				({{publication.Fields.Number}}),
				{% endif %}
				{% if publication.Fields.Pages %}
				p. {{ publication.Fields.Pages | replace({"--": '–'}) }}.
				{% endif %}
				{% elseif publication.EntryType == 'phdthesis' %}
				PhD Thesis. {{ publication.Fields.School }}
				{% elseif publication.EntryType == 'mastersthesis' %}
				{% if publication.Fields.Type %}
				{{ publication.Fields.Type }}.
				{% else %}
				Master's Thesis.
				{% endif %}
				{{ publication.Fields.School }}.
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</article>
	{% endif %}

	<div class="gdpr-notice" id="pageFooter-last">
		<p>
			I hereby consent to the processing of the personal data contained in this CV in accordance with article 13 of the EU Regulation 679/16 "General Data Protection Regulation" (GDPR).
		</p>
	</div>
</body>
</html>
